/* Página Inicial */
.home-page {
  position: relative;
  z-index: 1;
  min-height: 110vh;
}

/* Plano de Fundo do Banner da Loja */
.store-banner {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 110vh;
  min-height: 400px;
  object-fit: cover;
  z-index: 0;
  border-radius: 0px 0px 35px 35px;
}

/* -------------------- */
/* Sobreposição do Anúncio do Banner */

.banner-ad {
  position: absolute;
  top: 45vh;
  left: 35%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  text-align: left;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
  width: 40vw;
}

/* SEÇÃO EMOJI DE NOVA VERSÃO */
.emoji-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: -6vh;
}
.emoji-svg {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji-section h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}

/* ------ */
/* Título e Descrição do Banner */

.banner-ad h2 {
  color: white;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin: 0;
  margin-bottom: -4vh;
}

.banner-ad p {
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: -3vh;
}
/* 5 ESTRELAS */
.five-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -1vh;
}

.five-stars svg {
  width: 30px;
  height: 30px;
  margin: 0 2px;
}

/* ------ */
/* Botão do Banner */

.banner-ad button {
  background-color: rgb(255, 255, 255);
  outline: none;
  color: black;
  width: 9rem;
  height: 3rem;
  font-size: 13px;
  margin-top: 2vh;
  border-radius: 6px;
}

/* Imagem de Sobreposição do Banner da Loja */
.store-banner-overlay-image {
  position: absolute;
  top: 0vh;
  right: 5vw;
  width: auto;
  height: 55vw;
  z-index: 1;
  object-fit: contain;
}

/* -------------------- */

/* Seção Navegar por Categorias */
.browse-categories {
  margin-top: 100vh;
  padding: 2rem;
  text-align: left;
  position: relative;
  z-index: 1;
}

.browse-categories h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 2rem;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.categories button {
  width: 9vw;
  height: 9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: white;
}

.categories button svg {
  width: 50%;
  height: 50%;
}

.categories button img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.categories button span {
  font-size: 14px;
  font-weight: 500;
}

/* -------------------- */
/* Produto em Destaque */

.featured-product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: rgba(122, 221, 254, 0.16);
  height: 50vh;
  width: 80vw;
  margin: 140px auto 0 auto;
  border-radius: 14px;
}

.featured-product h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  margin-left: 4vw;
}

.countdown-timer {
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
  gap: 20px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-number {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  background-color: white;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.countdown-label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.featured-product-btn {
  background-color: rgb(142, 191, 247);
  outline: none;
  color: white;
  font-weight: 700;
  width: 15vw;
  height: 8vh;
  min-width: 150px;
  min-height: 50px;
  font-size: 13px;
  margin: 5vh 10vw 5vh 150px;
  border-radius: 6px;
  display: block;
}

.featured-image img {
  width: auto;
  height: 65vh;
  margin-top: -15vh;
}

/* EXPLORAR PRODUTOS */
.explore-products {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: left;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  justify-content: center;
}

.explore-products h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 2rem;
  margin-bottom: 70px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.view-all-button {
  background-color: white;
  outline: black solid 1px;
  color: black;
  width: 10rem;
  height: 3rem;
  font-size: 14px;
  margin: 40px auto 0 auto;
  border-radius: 6px;
}

/* -------------------- */
/* Barra de Rolagem */

.scroll-handle {
  position: absolute;
  top: 92vh;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 6px;
  background-color: #1e3a8a;
  border-radius: 10px;
  z-index: 2;
}
