.store-product-card {
  transition: all 0.3s ease;
  align-items: ;
}

.store-product-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.store-product-image {
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  background: #ffffff;
}

.store-product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.store-product-name {
  text-align: left;
  font-weight: 300;
}

.store-product-price {
  text-align: left;
}

/* footer PRICE AND ADD TO CART */

.store-product-info {
  font-size: 1rem;
}

.store-product-name {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.store-product-price {
  font-weight: bolder;
  color: #2563eb;
}

.store-product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
